<div id="agora_nested_comment">
    <div id="agora_back"></div>
    <div class="ow_avatar style-scope {$comments[0]->sentiment_class} {$comments[0]->avatar_css}" title="{$comments[0]->username}">
        <a class="style-scope" href="{$comments[0]->owner_url}">
            <img src="{$comments[0]->avatar_url}">{$comments[0]->avatar_initial}
        </a>
        <div class="agora_comment_sentiment"></div>
    </div>
    <div class="agora_speech">
        <div id="agora_nested_speech_text" class="agora_speech_text agora_nested_speech_text">{$comments[0]->comment}</div>
        <div class="agora_speech_info">
            <div class="agora_speech_username">{$comments[0]->username}</div>
            <div class="agora_speech_time">{$comments[0]->timestamp}</div>
        </div>
    </div>
</div>
{for $i = 1 to count($comments) - 1}
<div class="{$comments[$i]->css_class}" id="comment_{$comments[$i]->id}">
    <div class="ow_avatar style-scope {$comments[$i]->sentiment_class} {$comments[$i]->avatar_css}" title="{$comments[$i]->username}">
        <a class="style-scope" href="{$comments[$i]->owner_url}">
            <img src="{$comments[$i]->avatar_url}">{$comments[$i]->avatar_initial}
        </a>
    </div>
    <div class="agora_speech">
        <div class="agora_speech_text">{$comments[$i]->comment}</div>
        <div id="agora_datalet_placeholder_{$comments[$i]->id}" class="{$comments[$i]->datalet_class} {$comments[$i]->component}">
            {$comments[$i]->datalet_html}
        </div>
        <div class="agora_speech_info">
            <div class="agora_speech_username">{$comments[$i]->username}</div>
            <div class="agora_speech_time">{$comments[$i]->timestamp}</div>
        </div>
    </div>
    <div class="agora_editor_container">
        <div class="agora_editor tooltips left">
            <span>
                <span class="delete_comment">{text key="spodagora+t_delete"}</span><span class="modify_comment">{text key="spodagora+t_modify"}</span>
            </span>
        </div>
    </div>
</div>
{/for}