.ow_page_wrap
{
    height: 100%;
}

#agora_container
{
    width: 100%;
    /*height: calc(100% - 98px);*/
    height: 100%;

    display: flex;
    flex-direction: row;

    background-color: #FFFFFF;
}

#agora_container > *
{
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#agora_left
{
    height: 100%;
    width: 50%;
    min-width: 666px;

    background: #00BCD4;
}

#agora_right
{
    height: 100%;
    width: 50%;
    min-width: 666px;
}

/* HEADER */

#agora_header
{
}

#agora_header_title
{
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    color: #FFFFFF;
    margin: 40px 40px 0 40px;
    width: calc( 100% - 64px );
}

#agora_header_subtitle
{
    font-size: 14px;
    line-height: 24px;

    color: #424242;
    margin: 0 40px;
    width: calc( 100% - 64px );

    height: 24px;
}

#agora_header_navigator
{
    display: flex;
    flex-direction: row;

    margin: 40px 40px 0 40px;
}

#agora_header_navigator #tabs {
    display: flex;
    flex-direction: row;
    padding: 0 40px;

    border-bottom: 1px solid #BDBDBD;
    width: 60%;
}

#agora_header_navigator .tab {
    width: calc((100% - 0px) / 3);
    color: #212121;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;

    border-top: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;

    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 8px;
}

#agora_header_navigator .tab:last-child {
    border-right: 1px solid #BDBDBD;
}

#agora_header_navigator .tab.selected {
    background-color: #00AABF;
    color: #FFFFFF;
}

#agora_header_navigator .tab:hover {
    background-color: #00AABF;
    color: #FFFFFF;
}

#agora_header_navigator #search {
    display: flex;
    flex-direction: row;

    color: #FFFFFF;
    width: 40%;

    height: 41px;
}

input#agora_search_input {
    margin-top: 15px;
    margin-left: 80px;
    width: calc(100% - 120px);
    border: none;
    border-bottom: solid 1px #BDBDBD;
    transition: border 0.6s;
    background: transparent;

    font-size: 14px;
    line-height: 14px;
}

input#agora_search_input:focus {
    border-bottom: solid 1px #FFFFFF;
}

input#agora_search_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #212121;
}

input#agora_search_input::-moz-placeholder { /* Firefox 19+ */
    color: #212121;
}

input#agora_search_input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BDBDBD;
}

input#agora_search_input:focus::-moz-placeholder { /* Chrome/Opera/Safari */
    color: #BDBDBD;
}

div#agora_search_svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    /*background: url("/ow_static/plugins/agora/images/search.svg") no-repeat 0 0;*/

    /*NO FIREFOX*/
    -webkit-mask: url(/ow_static/plugins/agora/images/search.svg) no-repeat 0 0;
    mask: url(/ow_static/plugins/agora/images/search.svg) no-repeat 0 0;
    -webkit-mask-size: cover;
    mask-size: cover;

    background-color: #212121;
}

div#agora_search_svg:hover {
    background-color: #FFFFFF;
}

/* ROOM */

#agora_room_container
{
    position: relative;
    overflow: hidden !important;
    height: calc( 100% - 170px - 40px);
    width: 100%;
    margin-top: 30px;
}

/*#agora_room_container::-webkit-scrollbar {*/
    /*display: none !important;*/
/*}*/

.agora_room
{
    position: relative;
    cursor: pointer;
}

.agora_room.selected:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: calc(50% - 16px);
    border: 16px solid;
    border-color: transparent #FFFFFF transparent transparent;
}

.agora_room:hover
{
    /*background-color: #00AABF;*/
}

.agora_room.selected
{
    /*background-color: #00AABF;*/
}

.agora_room .room {
    width: calc(100% - 80px - 80px);

    margin: 0 40px 20px 40px;/**/
    padding: 10px 40px;/**/


    /*margin: 0 40px;*/
    /*padding: 40px;*/
    /*border-bottom: solid 1px #BDBDBD;*/
}



.agora_room .room .box{
    position: relative;
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;

    width: 100%;

    background-color: #00BCD4;
    border: 1px solid #FFFFFF;
    height: 128px;

    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.agora_room .room .box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.agora_room .room .box.selected {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);

    background-color: #00AABF;
    /*http://tobiasahlin.com/blog/how-to-animate-box-shadow/*/
}

.agora_room .room .box.selected::after {
    opacity: 1;
}

.agora_room .room .box:hover {
    background-color: #00AABF;
}


/* BOX */

.room .box .box_left {
    width: 72px;
    background: url("/ow_static/plugins/agora/images/agora.svg") no-repeat 0 0;
    background-position: center;
    background-size: 40px 40px;
}

.room .box .box_right {
    /*background-color: blue;*/
    width: calc(100% - 72px);
}

.room .box .box_top {
    display: flex;
    flex-direction: row;

    /*background-color: yellow;*/
    width: 100%;
    /*height: 72px;*/
}

.room .box .box_bottom {
    /*width: calc(100% - 1em - 8px);*/
    width: calc(100% - 16px);
    margin-right: 16px;
    color: #212121;
    font-style: italic;

    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    /*max-width: 400px;*/
    height: 48px; /* Fallback for non-webkit */
    /*margin: 0 auto;*/
    font-size: 16px;
    line-height: 24px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room .box .box_info {
    /*background-color: pink;*/
    width: 75%;
    /*height: 96px;*/
}

.room .box .box_stat {
    /*background-color: #FFFFFF;*/
    width: 25%;
    margin: 4px 0;
    /*height: 96px;*/
}

.room .box .box_title {
    /*width: 100%;*/
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 8px 8px 0 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.room .box .box_date {
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #424242;
    padding-bottom: 16px;
}

.room .box .box_line {
    /*background-color: #FFFFFF;*/
    /*border: 1px solid #424242;*/
    border: 1px solid #FFFFFF;
    width: calc(100% - 16px);
    height: 14px;
    margin: 4px 16px 0 0;
}

.room .box .box_views {
    height: 100%;
    width: 73%;
    background-color: #FF9100;
}

.room .box .box_comments {
    height: 100%;
    width: 100%;
    background-color: #E65100;
}

.room .box .box_datalets {
    height: 100%;
    width: 46%;
    background-color: #FFAB40;
}

/* styles for '...' */
/*.block-with-text {*/
    /*!* hide text if it more than N lines  *!*/
    /*overflow: hidden;*/
    /*!* for set '...' in absolute position *!*/
    /*position: relative;*/
    /*!* use this value to count block height *!*/
    /*line-height: 24px;*/
    /*!* max-height = line-height (1.2) * lines max number (3) *!*/
    /*max-height: 48px;*/
    /*!* fix problem when last visible word doesn't adjoin right side  *!*/
    /*text-align: justify;*/
    /*!* place for '...' *!*/
    /*!*margin-right: -1em;*!*/
    /*!*padding-right: 1em;*!*/

    /*!*ddr*!*/
    /*margin-right: -16px;*/
    /*padding-right: 16px;*/
/*}*/
/*!* create the ... *!*/
/*.block-with-text:before {*/
    /*!* points in the end *!*/
    /*content: '...';*/
    /*!* absolute position *!*/
    /*position: absolute;*/
    /*!* set position to right bottom corner of block *!*/
    /*right: 0;*/
    /*bottom: 0;*/
/*}*/
/*!* hide ... if we have text, which is less than or equal to max lines *!*/
/*.block-with-text:after {*/
    /*!* points in the end *!*/
    /*content: '';*/
    /*!* absolute position *!*/
    /*position: absolute;*/
    /*!* set position to right bottom corner of text *!*/
    /*right: 0;*/
    /*!* set width and height *!*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*margin-top: 0.2em;*/
    /*!* bg color = bg color under block *!*/
    /*background: #00BCD4;*/
/*}*/

/*!*problem*!*/
/*.selected .block-with-text:after {*/
    /*background: #00AABF;*/
/*}*/
/*.box:hover .block-with-text:after {*/
    /*background: #00AABF;*/
/*}*/
/*!*end problem*!*/

/* TOOLTIP */

.tooltips {
    position: relative;
    /*display: inline;*/
}
.tooltips span {
    position: absolute;
    /*padding: 0 8px;*/
    font-size: 14px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 140px;
    color: #FFFFFF;
    background: #424242;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 5px;
}
.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #424242;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
:hover.tooltips span {
    visibility: visible;
    /*opacity: 0.8;*/
    bottom: 23px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}


/*.agora_room_header*/
/*{*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

/*.agora_room:hover:not(.agora_room_selected)*/
/*{*/
    /*background-color: #2e3439;*/
    /*border-left: solid 3px #41464b;*/
    /*cursor: pointer;*/
    /*padding: 16px 16px 16px 13px;*/
/*}*/

/*.agora_room_date*/
/*{*/
    /*font-size: 12px;*/
/*}*/

/*.agora_room_title*/
/*{*/
    /*padding: 12px 0 12px 0;*/
    /*font-size: 18px;*/
    /*color: #ffffff;*/
/*}*/

/*.agora_room_description*/
/*{*/
    /*font-size: 14px;*/
/*}*/

/*.agora_room_progress_container*/
/*{*/
    /*height: 4px;*/
    /*background: #41464b;*/
    /*width: 100px;*/
    /*margin-top: 20px;*/
    /*margin-left: 40px;*/
/*}*/

/*.agora_room_progress*/
/*{*/
    /*height: 4px;*/
/*}*/

/*.agora_room_selected*/
/*{*/
    /*background: #2e3439;*/
    /*border-left: solid 3px #2196f3;*/
/*}*/