.agora_editor
{
    display: none;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.agora_right_comment:hover .agora_editor, .agora_left_comment:hover .agora_editor{
    display: flex;
}