.ow_page_wrap
{
    height: 100%;
}

#agora_container
{
    width: 100%;
    /*height: calc(100% - 98px);*/
    height: 100%;

    display: flex;
    flex-direction: row;

    background-color: #FFFFFF;
}

#agora_container > *
{
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#agora_left
{
    height: 100%;
    width: 50%;

    background: #00BCD4;
}

#agora_right
{
    height: 100%;
    width: 50%;
}

/* HEADER */

#agora_header
{
}

#agora_header_title
{
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    color: #FFFFFF;
    margin: 40px 40px 0 40px;
    width: calc( 100% - 64px );
}

#agora_header_subtitle
{
    font-size: 14px;
    line-height: 24px;

    color: #424242;
    margin: 0 40px;
    width: calc( 100% - 64px );

    height: 24px;
}

#agora_header_navigator
{
    display: flex;
    flex-direction: row;

    margin: 40px 40px 0 40px;
}

#agora_header_navigator #tabs {
    display: flex;
    flex-direction: row;
    padding: 0 40px;

    border-bottom: 1px solid #BDBDBD;
    width: 60%;
}

#agora_header_navigator .tab {
    width: calc((100% - 0px) / 3);
    color: #424242;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;

    border-top: 1px solid #BDBDBD;
    border-left: 1px solid #BDBDBD;

    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#agora_header_navigator .tab:last-child {
    border-right: 1px solid #BDBDBD;
}

#agora_header_navigator .tab.selected {
    background-color: #00AABF;
    color: #FFFFFF;
}

#agora_header_navigator .tab:hover {
    background-color: #00AABF;
    color: #FFFFFF;
}

#agora_header_navigator #search {
    display: flex;
    flex-direction: row;

    color: #FFFFFF;
    width: 40%;

    height: 41px;
}

input#agora_search_input {
    margin-top: 15px;
    margin-left: 80px;
    width: calc(100% - 120px);
    border: none;
    border-bottom: solid 1px #BDBDBD;
    transition: border 0.6s;
    background: transparent;

    font-size: 14px;
    line-height: 14px;
}

input#agora_search_input:focus {
    border-bottom: solid 1px #FFFFFF;
}

input#agora_search_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #424242;
}

input#agora_search_input::-moz-placeholder { /* Firefox 19+ */
    color: #424242;
}

input#agora_search_input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BDBDBD;
}

input#agora_search_input:focus::-moz-placeholder { /* Chrome/Opera/Safari */
    color: #BDBDBD;
}

div#agora_search_svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
    /*background: url("/ow_static/plugins/agora/images/search.svg") no-repeat 0 0;*/

    /*NO FIREFOX*/
    -webkit-mask: url(/ow_static/plugins/agora/images/search.svg) no-repeat 0 0;
    mask: url(/ow_static/plugins/agora/images/search.svg) no-repeat 0 0;
    -webkit-mask-size: cover;
    mask-size: cover;

    background-color: #424242;
}

div#agora_search_svg:hover {
    background-color: #FFFFFF;
}

/* ROOM */

#agora_room_container
{
    position: relative;
    overflow: hidden !important;
    height: calc( 100% - 170px - 40px);
    width: 100%;
    margin-top: 30px;
}

/*#agora_room_container::-webkit-scrollbar {*/
    /*display: none !important;*/
/*}*/

.agora_room
{
    position: relative;
    cursor: pointer;
}

.agora_room.selected:before
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: calc(50% - 16px);
    border: 16px solid;
    border-color: transparent #FFFFFF transparent transparent;
}

.agora_room:hover
{
    /*background-color: #00AABF;*/
}

.agora_room.selected
{
    /*background-color: #00AABF;*/
}

.agora_room .room {
    width: calc(100% - 80px - 80px);

    margin: 0 40px 20px 40px;/**/
    padding: 10px 40px;/**/


    /*margin: 0 40px;*/
    /*padding: 40px;*/
    /*border-bottom: solid 1px #BDBDBD;*/
}

.agora_room .room .box:hover {
    background-color: #00AABF;
}

.agora_room .room .box{
    position: relative;
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;

    width: 100%;

    background-color: #00BCD4;
    border: 1px solid #FFFFFF;
    height: 192px;

    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.agora_room .room .box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.agora_room .room .box.selected {
    -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);

    background-color: #00AABF;
}

.agora_room .room .box.selected::after {
    opacity: 1;
}


/* BOX */

.room .box .box_left {
    background-color: red;
    width: 40px;
}

.room .box .box_right {
    background-color: blue;
    width: calc(100% - 40px);
}

.room .box .box_top {
    display: flex;
    flex-direction: row;

    background-color: yellow;
    width: 100%;
    height: 96px;
}

.room .box .box_bottom {
    background-color: green;
    width: 100%;
    height: 96px;
}

.room .box .box_info {
    background-color: pink;
    width: 50%;
    /*height: 96px;*/
}

.room .box .box_stat {
    background-color: purple;
    width: 50%;
    /*height: 96px;*/
}

.room .box .box_title {
    background-color: brown;
    width: 50%;
    /*height: 96px;*/
}

.room .box .box_date {
    background-color: orange;
    width: 50%;
    /*height: 96px;*/
}

.room .box .box_views {
    background-color: aqua;
    width: 50%;
    /*height: 96px;*/
}

.room .box .box_comments {
    background-color: orangered;
    width: 50%;
    /*height: 96px;*/
}

.room .box .box_datalets {
    background-color: firebrick;
    width: 50%;
    /*height: 96px;*/
}


/*.agora_room_header*/
/*{*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

/*.agora_room:hover:not(.agora_room_selected)*/
/*{*/
    /*background-color: #2e3439;*/
    /*border-left: solid 3px #41464b;*/
    /*cursor: pointer;*/
    /*padding: 16px 16px 16px 13px;*/
/*}*/

/*.agora_room_date*/
/*{*/
    /*font-size: 12px;*/
/*}*/

/*.agora_room_title*/
/*{*/
    /*padding: 12px 0 12px 0;*/
    /*font-size: 18px;*/
    /*color: #ffffff;*/
/*}*/

/*.agora_room_description*/
/*{*/
    /*font-size: 14px;*/
/*}*/

/*.agora_room_progress_container*/
/*{*/
    /*height: 4px;*/
    /*background: #41464b;*/
    /*width: 100px;*/
    /*margin-top: 20px;*/
    /*margin-left: 40px;*/
/*}*/

/*.agora_room_progress*/
/*{*/
    /*height: 4px;*/
/*}*/

/*.agora_room_selected*/
/*{*/
    /*background: #2e3439;*/
    /*border-left: solid 3px #2196f3;*/
/*}*/