<style>
    .ow_ic_delete {
        width:16px;
        height:16px;
        display:block;
        margin:0 auto;
        background-repeat:no-repeat;
        background-position: 50% 50%;
    }

    .ow_update {
        background-image: url(/ow_static/themes/simplicity/images/ic_write.svg);
        width:16px;
        height:16px;
        display:block;
        margin:0 auto;
        background-repeat:no-repeat;
        background-position: 50% 50%;
        margin-top: 20px;
    }
</style>

<script type="text/javascript">
    function editRoom(em)
    {
        var href = $(em).attr("href");
        $(em).attr("href", href + '&title=' + $(em).parent().parent().find("input.subject_text").val()
                + '&body=' + $(em).parent().parent().find("input.body_text").val());
        return confirm('{text key="base+are_you_sure"}');
    }
</script>

{form name='settings'}
<table class="ow_table_1 ow_automargin">
    <tr class="">
        <td width="50%">
            Is visible for not logged users
        </td>
        <td width="50%">
            {input name='isVisible'}
        </td>
    </tr>
    <tr class="">
        <td width="50%">
            SPLOD
        </td>
        <td width="50%">
            {input name='SPLOD_visible'}
        </td>
    </tr>
    <tr class="">
        <td width="50%">
            MAPLET
        </td>
        <td width="50%">
            {input name='Maplet_visible'}
        </td>
    </tr>
    </tr>
        <td colspan="2" class="ow_center">{submit name='add' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}

<table class="ow_table_1 ow_automargin">
    <thead>
    <tr class="ow_alt1">
        <th class="ow_value"></th>
        <th class="ow_value">SUBJECT</th>
        <th class="ow_value">BODY</th>
        <th class="ow_value"># COMMENTS</th>
        <th class="ow_value"># OPEN DATA</th>
        <th class="ow_value">CREATED</th>
    </tr>
    </thead>
    {foreach from=$agora item=ti name=tn key=id}
    <tr class="{cycle values='ow_alt1,ow_alt2'} {if $smarty.foreach.tn.last}ow_tr_last{/if} {if $smarty.foreach.tn.first}ow_tr_first{/if}">
        <td>
            <a title="delete" href="{$deleteUrl}?id={$ti->id}" onclick="return confirm('{text key="base+are_you_sure"}');" style="" class="ow_ic_delete"></a>
            <a title="edit"   href="{$editUrl}?id={$ti->id}" onclick="editRoom(this)" style="" class="ow_update"></a>
        </td>
        <td><input class="subject_text" type="text" value="{$ti->subject}" /></td>
        <td><input class="body_text"    type="text" value="{$ti->body}" /></td>
        <td>{$ti->comments}</td>
        <td>{$ti->opendata}</td>
        <td>{$ti->timestamp}</td>
    </tr>
    {/foreach}
</table>