<link rel="import" href="{$components_url}bower_components/paper-toast/paper-toast.html">
<link rel="import" href="{$components_url}bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="{$components_url}bower_components/iron-icons/iron-icons.html">

<div id="agora_container">

    <div id="agora_left">
        <div id="agora_header">

            <!--<div id="agora_header_title">{text key="spodagora+agora"}</div>-->
            <!--<div id="agora_header_subtitle">A communi observantia non est recedendum.</div>-->
            <div id="agora_header_navigator">
                <div id="tabs">
                    <div order-by="latest"   class="tab sort-down selected">{text key="spodagora+latest"}</div>
                    <div order-by="relevant" class="tab">{text key="spodagora+most_relevant"}</div>
                    <div order-by="popular"  class="tab">{text key="spodagora+most_popular"}</div>
                    <div order-by="myagora"  class="tab">{text key="spodagora+my_agora"}</div>
                </div>
                <div id="search">
                    <input id="agora_search_input" placeholder="{text key='spodagora+search'}">
                    <!--<div id="agora_search_svg"></div>-->
                </div>
            </div>
        </div>

        <div id="agora_room_container">

            {foreach from=$agoras key=i item=$agora}
            <div id="agora_room_{$agora->id}" data-latest="{count($agoras)-$i}" data-relevant="{$agora->unread_messages}" data-popular="{$agora->comments}" data-hashtag="{foreach from=$agora->hashtags item=$ht}#{$ht->hashtag} {/foreach}"
                    class="agora_room {if $i==0} selected {/if} {if $agora->ownerId == $user_id} owner {/if}">
                <div class="room">
                    <div class="box {if $i==0} selected {/if}">
                        <div class="box_left">
                            {if $agora->unread_messages>0}<div class="box_unread">{$agora->unread_messages}</div>{/if}
                        </div>
                        <div class="box_right">
                            <div class="box_top">
                                <div class="box_info">
                                    <div class="box_date">{$agora->timestamp}</div>
                                    <div class="box_title">{$agora->subject}</div>
                                </div>
                                <div class="box_stat">
                                    <div class="box_line tooltips left">
                                        <span>{$agora->views} {text key="spodagora+t_views"}</span>
                                        <div class="box_views" style="width: {$agora->stat["views"]}%; background-color:{$agora->stat["viewsColor"]}"></div>
                                    </div>
                                    <div class="box_line tooltips left">
                                        <span>{$agora->comments} {text key="spodagora+t_comments"}</span>
                                        <div class="box_comments" style="width: {$agora->stat["comments"]}%; background-color:{$agora->stat["commentsColor"]}"></div>
                                    </div>
                                    <div class="box_line tooltips left">
                                        <span>{$agora->opendata} {text key="spodagora+t_datalets"}</span>
                                        <div class="box_datalets" style="width: {$agora->stat["opendata"]}%; background-color:{$agora->stat["opendataColor"]}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box_bottom">{$agora->body}</div>
                            <div class="box_owner tooltips left"><span>{text key="spodagora+t_owner"}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}

        </div>

        {if $isAuth && $isAuth_creation}
        <div id="agora_header_add" class="tooltips left">
            <span>{text key="spodagora+t_add_new_agora"}</span>
        </div>
        {/if}

    </div>

    <div id="agora_right">

        {foreach from=$agoras key=i item=$agora}
        <div id="agora_room_detail_{$agora->id}" class="detail_agora_container {if $i==0} detail_selected_agora {/if}">
            <div class="agora_right_header">

                <div class="agora_right_title">{$agora->subject}</div>
            </div>

            <div class="right_scroller_container">

                <div class="agora_right_description agora_right_box">
                    <div class="head">{text key="spodagora+description"}</div>
                    <div class="body">{$agora->body}</div>
                </div>

                <div class="agora_right_stat agora_right_box">
                    <div class="head">{text key="spodagora+statistics"}</div>
                    <div class="body">

                            <div class="box_line">
                                <div class="box_views" style="width: {$agora->stat["views"]}%; background-color:{$agora->stat["viewsColor"]};"></div>
                            </div>
                        <div class="info_line">
                             {$agora->views} {text key="spodagora+views"}
                        </div>

                            <div class="box_line">
                                <div class="box_comments" style="width: {$agora->stat["comments"]}%; background-color:{$agora->stat["commentsColor"]};"></div>
                            </div>
                        <div class="info_line">
                            {$agora->comments} {text key="spodagora+comments"}
                        </div>

                            <div class="box_line">
                                <div class="box_datalets" style="width: {$agora->stat["opendata"]}%; background-color:{$agora->stat["opendataColor"]};"></div>
                            </div>
                        <div class="info_line">
                            {$agora->opendata} {text key="spodagora+datalets"}
                        </div>

                    </div>
                </div>

                <div class="agora_right_users agora_right_box">
                    <div class="head">{text key="spodagora+users"}</div>
                    <div class="body">
                        <div class="ow_avatar style-scope creator {$agora->owner_avatar[$agora->ownerId]["css"]}" title="{$agora->owner_avatar[$agora->ownerId]["title"]}">
                            <a class="style-scope" href="{$agora->owner_avatar[$agora->ownerId]["url"]}">
                                <img src="{$agora->owner_avatar[$agora->ownerId]["src"]}">{$agora->owner_avatar[$agora->ownerId]["initial"]}
                            </a>
                        </div>
                        {foreach from=$agora->avatars key=j item=$avatar}
                        <div class="ow_avatar style-scope {$avatar["css"]}" title="{$avatar["title"]}">
                            <a class="style-scope" href="{$avatar["url"]}">
                                <img src="{$avatar["src"]}">{$avatar["initial"]}
                            </a>
                        </div>
                        {/foreach}
                    </div>
                </div>

                {if count($agora->suggestions) > 0 || $user_id == $agora->ownerId}
                <div class="agora_right_datasets agora_right_box">
                    <div class="head">{text key="spodagora+suggested_datasets"}
                        {if $user_id == $agora->ownerId}
                        <div class="add_suggested_dataset tooltips left">
                            <span>{text key="spodagora+t_add_new_dataset"}</span>
                        </div>
                        {/if}
                    </div>
                    <div class="body suggestion_dataset_container">
                        {foreach from=$agora->suggestions key=j item=$suggestion}
                            <div class="datasetUrl"><a href="{$suggestion->dataset}" target="_blank">{$suggestion->comment}</a></div>
                        {/foreach}
                    </div>
                </div>
                {/if}

                {if count($agora->hashtags) > 0}
                <div class="agora_right_hashtag agora_right_box">
                    <div class="head">{text key="spodagora+hashtags"}</div>
                    <div class="body">
                        {foreach from=$agora->hashtags item=$ht}
                        <span class="hashtag">#{$ht->hashtag}</span>
                        {/foreach}
                    </div>
                </div>
                {/if}

            </div>
        </div>
        {/foreach}

        {if $isAuth}
        <div class="agora_header_switch tooltips left">
            <span>{text key="spodagora+enable_notifications"}</span>
            <label class="switch">
                <input type="checkbox" id="user_notification_switch">
                <div class="slider round"></div>
            </label>
        </div>
        {/if}

        <div id="agora_enter_button">{text key="spodagora+enter"}</div>

    </div>

</div>

{if $is_visible_pref == 1}
<paper-toast id="infoToast" duration="10000">
    <p>
        <span class="title">{text key="spodagora+spod_privacy_title"}</span>
        <br>
        <span class="description">{text key="spodagora+spod_privacy_text"}</span>
    </p>
    <paper-icon-button class="clear" suffix onclick="infoToast.toggle()" icon="clear"></paper-icon-button>
</paper-toast>
{/if}

{if !empty($authentication_component)}{$authentication_component}{/if}